<div class="order-container">
  {{#if this.auth.isAuthenticated}}
    {{#if this.checkedOut}}
      <h2 id="history-h2">Successfully Checked Out! Please be patient while your
        food is served</h2>
      <div class="bottom">
        <h2>Total Price: ${{this.totalPrice}}</h2>
        <button type="button" {{on "click" this.goBack}}>Back To Ordering</button>
      </div>
    {{else}}
      <h2>Place Your Order</h2>
      <div class="order-body">
        {{#each this.model as |orderItem|}}
          <OrderItem
            @item={{orderItem}}
            @calculateTotalPrice={{this.calculateTotalPrice}}
          />
        {{/each}}
      </div>
      <div class="bottom">
        <h2>Total Price: ${{this.totalPrice}}</h2>
        <button type="button" {{on "click" this.checkout}}>Checkout</button>
      </div>
      <button id="history" type="button" {{on "click" this.viewHistory}}>View
        Order History</button>

    {{/if}}
  {{else}}
    <h2>Please sign in first!</h2>
    <LinkTo @route="login" class="nav-login">
      <button id="sign" type="button">Sign in</button>
    </LinkTo>
  {{/if}}
</div>